.schedule__date-container {
    margin-top: 50px;
    height: 5vh;
    background-color: rgba(168, 168, 196, 0.356);
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-transform: uppercase;
}

.cinema-schedule {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.cinema-schedule__cinema-name-container {
    width: 40%;
    padding-top: 3vw;
}

.cinema-schedule__time-container {
    padding-top: 3vw;
    width: 60%;
    display: flex;
    align-items: center;
}

.cinema-schedule__time-item {
    margin-right: 20px;
    width: 15%;
    background-color: rgb(159, 212, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.cinema-schedule__time-item a {
    text-decoration: none;
}

.cinema-schedule__time-item span {
    color: black;
}
