
.ticket{
    display: flex;
    padding: 5px;
    background-color: rgb(159, 212, 236);
}
.ticket__icon{
    width: 20%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ticket__icon img{
    max-width: 100%;
}
.ticket__text{
    text-transform: uppercase;
    color: black;
}
