.search-form {
    width: 50%;
}

.search-form__container {
    display: flex;
}

.search-form__input {
    width: 60%;
    border: none;
    padding: 10px 10px 10px 15px;
    margin-right: 10px;
    border-radius: 40px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.search-form__input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.search-form__button {
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.search-form__button img {
    width: 30px;
    height: 30px;
}

.search-form__button:hover {
    box-shadow: inset 0 6px 10px 0 rgba(0, 0, 0, 0.2), inset 0 4px 14px 0 rgba(0, 0, 0, 0.19);
}
