.carousel {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
}

.carousel__window {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.carousel__container {
    height: 100%;
    display: flex;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.carousel__container_space-between {
    justify-content: space-between;
}

.carousel__container_space-around {
    justify-content: space-around;
}

.carousel__item {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    height: 45vh;
    min-width: 25%;
    max-width: 25%;
}

.carousel__img-container {
    position: relative;
}

.carousel__item img {
    max-width: 75%;
    max-height: 75%;
}

.carousel__item img:hover {
    filter: drop-shadow(5px 5px 5px rgb(131, 125, 125));
}

.carousel__item h3 {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

.carousel__item a {
    text-decoration: none;
}

.carousel__ticket {
    position: absolute;
    width: 55%;
    height: 25%;
    left: 10%;
    bottom: 4%;
    border-radius: 5px;
}

.carousel__arrow img {
    width: 50px;
    height: 50px;
}

.carousel__arrow img:hover {
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px rgb(131, 125, 125));
}
