.reservation-page__container {
  margin: 0 auto;
  width: 60%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row__seat {
  margin-left: 10px;
  margin-bottom: 10px;
}

.seat {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3vw;
  height: 4vw;
  background-color: rgb(73, 160, 172);
  border-radius: 10px 10px 0 0;
}

.seat_selected {
  background-color: rgba(21, 74, 117, 0.849);
}

.seat_reserved {
  cursor: not-allowed;
  pointer-events: none;
  background-color: gray;
}
