.main-movie__container {
    margin: 0 15vw;
    display: flex;
    justify-content: space-between;
}

.main-movie__movie-poster {
    height: 70vh;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-movie__movie-poster-img {
    position: relative;
}

.main-movie__movie-poster-age-restriction {
    background-color: rgb(125, 205, 241);
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    top: 10%;
    left: 10%;
}
.main-movie__movie-poster-age-restriction span{
    font-size: 2vw;
}

.main-movie__movie-title {
    margin-bottom: 30px;
}

.main-movie__movie-poster img {
    max-width: 100%;
}

.main-movie__movie-information {
    width: 80%;
}

table {
    width: 100%;
}

table tr {
    border-top: 1px solid rgba(168, 168, 196, 0.356);
    padding: 10px 15px;
}

table tr:first-child {
    border-top: 1px solid rgb(125, 205, 241);
}

table tr:last-child {
    border-bottom: 1px solid rgb(125, 205, 241);
}

table td {
    padding: 10px 15px;
}

table td:first-child {
    text-align: left;
}

table td:last-child {
    text-align: right;
}
