.auth-modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.37);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 0.1s;
    animation-name: sloWModal;
    z-index: 1;
}

@keyframes sloWModal {
    from {
        opacity: 0;
        pointer-events: none;
    }

    to {
        opacity: 1;
        pointer-events: all;
    }
}

.auth-modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    height: 30vw;
    width: 30vw;
    animation-duration: 0.3s;
    animation-name: slowModalContent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@keyframes slowModalContent {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}

.auth-modal__container {
    padding-top: 2vh;
    width: 80%;
    margin: auto 0;
}

.auth-modal__greeting h2 {
    margin-top: 9vh;
    font-size: 3vw;
}

.auth-modal__row {
    display: flex;
    justify-content: right;
    align-items: center;
}

.auth-modal__label {
    width: 8vw;
    display: flex;
    justify-content: left;
    align-items: center;
}

.auth-modal__title {
    border-bottom: 2px solid black;
    text-align: center;
}

.auth-modal__title h2 {
    padding-bottom: 20px;
}

.auth-modal__input-container {
    margin-left: 2vw;
    display: flex;
    justify-content: center;
}

.auth-modal__input-container input {
    width: 10vw;
    border: 1px solid black;
    border-left: none;
    border-radius: 0px 6px 6px 0px;
}

.auth-modal__input-icon {
    padding: 3px;
    width: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 6px 0px 0px 6px;
    background: rgba(168, 168, 196, 0.356);
}

.auth-modal__input-icon img {
    max-width: 100%;
}

.auth-modal__error-container {
    display: flex;
    justify-content: right;
}

.auth-modal__error {
    width: 10vw;
    height: 2vw;
    color: rgb(119, 9, 9);
}

.auth-modal__button {
    margin-top: 10px;
    outline: none;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #fff;
}

.auth-modal__button:hover {
    box-shadow: inset 0 6px 10px 0 rgba(0, 0, 0, 0.2), inset 0 4px 14px 0 rgba(0, 0, 0, 0.19);
}

.auth-modal__checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.auth-modal__checkbox input+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.auth-modal__checkbox input+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.auth-modal__checkbox input:checked+label::before {
    border-color: rgba(168, 168, 196, 0.356);
    background-color: rgba(168, 168, 196, 0.356);
    background-image: url("./images/check-mark.png");
}
